* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main";
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #393f50;
  padding: 0 20px;
  height: 70px;

  .nav-list {
    display: flex;
  }
}

.logo svg {
  display: none;
}

.logo-icon,
.close {
  cursor: pointer;
}

.menu {
  cursor: pointer;

  img {
    width: 24px;
  }
}

.main-content {
  grid-area: main;
  padding: 24px;
}

.logo-sm {
  display: none;
}

.sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 25px 0;
  width: 70px;
  background-color: red;

  transition: all 0.3s ease;

  .logo-sm {
    display: block;
  }

  .logo-big {
    display: none;
  }

  .sidebar-menu {
    align-items: center;
  }

  .sidebar-link span {
    display: none;
  }

  .sidebar-menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar-link {
    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
    color: rgb(73, 80, 87);
  }

  ul li:hover {
    background-color: rgb(100 176 242 / 10%);
  }

  ul li:hover a {
    color: #64b0f2;
  }

  ul li.active a {
    color: #64b0f2;
  }

  @media (max-width: 1200px) {
  }
}

.sidebar.active {
  width: 240px;

  .logo-big {
    display: block;
  }

  .logo-sm {
    display: none;
  }

  .sidebar-menu {
    width: 100%;
    /* align-items: self-start; */
  }

  .sidebar-link span {
    display: inline;
  }

  .sidebar-menu li {
    width: 100%;
  }

  svg {
    vertical-align: bottom;
    margin-right: 10px;
  }
}

.logo img {
  margin: 0 auto;
}

.logo-icon {
  height: 22px;
}

@media (max-width: 1200px) {
  .header {
    justify-content: flex-start;
  }

  .menu {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    transform: translateX(-101%);
    background-color: #f8f8f8;
    z-index: 1000;
  }

  .sidebar.active {
    padding: 25px 0;
    transform: translateX(0);
  }

  .sidebar.active ~ .overlay {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px;

    img {
      margin: 0;
    }
  }

  .logo svg {
    display: block;
  }

  .sidebar-menu {
    align-items: flex-start;
    width: 100%;
  }

  .sidebar-link span {
    display: inline;
  }

  .nav-list {
    display: none;
  }
}
